# systemd/dotfiles-backup.timer

[Unit]
Description=Run dotfiles backup daily

[Timer]
OnCalender=daily
Persistent=true

[Install]
WantedBy=timers.target